*
!.gitignore
!.gitmodules
!README.md
!*.s
!*.S
!*.h
!*.c
!*.hpp
!*.cpp
!CMakeLists.txt
!*.ld
!tools/cmake/**
!tools/Programmer/**
!tools/OpenOCD/**
!boards.txt
!platform.txt
!programmers.txt
!LICENSE
!*/
CMakeFiles