bin/*
CMakeFiles*
*.cmake
*.txt
!CMakeLists.txt
Makefile*
*.a
.vs/*
.vscode/*
build/*
!GNU-Toolchain-Linux.cmake
!GNU-Toolchain-Windows.cmake
*.ps1
*.ninja
.ninja_log
.ninja_deps
lib/*
!boards.txt
!platform.txt
!programmers.txt